{% extends 'template.html' %}
{% block body %}
<div class="container">
    {% if current_user.products_in_cart %}
        <h2 class="m-4 text-center">Your cart:</h2>
    {% else %}
        <h2 class="m-4 text-center">Your cart is empty</h2>
    {% endif %}

    <div class="vstack gap-3">
        {% for product in current_user.products_in_cart %}
        <div class="card">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{ url_for('static', filename='products/' + product.image) }}" class="img-fluid"
                        alt="epic image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title mb-4">{{ product.title }}</h3>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{{ url_for('comments.comment', prod_id=product.id) }}" class="btn btn-dark">Add comment</a>
                        {% if product.comments %}
                        <button class="btn btn-dark" type="button" data-bs-toggle="collapse"
                            data-bs-target="#commentSection{{ product.id }}" aria-controls="commentSection"> Show
                            comments</button>
                        {% endif %}
                        <div class="collapse mt-1" id="commentSection{{ product.id }}">
                            {% for comment in product.comments %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img class="rounded-circle d-block w-100"
                                                src="{{ url_for('static', filename='profile_pics/' + comment.author.image) }}"
                                                alt="">
                                        </div>
                                        <div class="col">
                                            <h4>{{ comment.author.username }}</h4>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">{{ comment.text }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <h4>{{ comment.rate }} / 5</h4>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}