{% extends 'template.html' %}
{% block body %}
<div class="card border-secondary position-absolute top-50 start-50 translate-middle p-5">
    <div class="card-title text-center mb-3">
        <h2>Wellcome Back!</h2>
        <hr class="border border-secondary opacity-75">
    </div>
    <form method="post">
        {{ form.csrf_token }}
        <div class="row g-2">
            <div class="col-12">
                <div class="form-floating">
                    {{ form.email(class="form-control", placeholder="example_name") }}
                    {{ form.email.label }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    {{ form.password(class="form-control", placeholder="password")}}
                    {{ form.password.label }}
                </div>
            </div>
        </div>

        
        <div class="mt-4 mb-3">
            {{ form.log_in(class="btn btn-primary btn-md w-100")}}
        </div>
        
        <div class="form-check form-check-reverse me-4">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
        </div>
    </form>
</div>
{% endblock %}