{% extends 'template.html' %}
{% block body %}
<div id="MainCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner bg-dark">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#MainCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#MainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#MainCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-item active">
            <div style="min-height:var(--carousel-height);">
                <img src="../static/shawarma1.png" class="main_car_img d-block w-100" alt="">
                <div class="carousel-caption d-md-block">
                    <h2>epic</h2>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div style="min-height:var(--carousel-height);">
                <img src="../static/shawarma2.png" class="main_car_img d-block w-100" alt="">
                <div class="carousel-caption d-md-block">
                    <h2>epic 2</h2>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div style="min-height:var(--carousel-height);">
                <img src="../static/shawarma3.png" class="main_car_img d-block w-100" alt="">
                <div class="carousel-caption d-md-block">
                    <h2>epic 3</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}